extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Carden, Personal Assistant
    div.Message
      div.Title
        h1 Here to help with your daily tasks
    div.NavButtons
      a(href="/user")
          div.NavButton Back to Home